.container {
  flex: 1;
  display: flex;
  max-width: 1024px;
  padding-left: var(--container-space-desktop);
  padding-right: var(--container-space-desktop);
  margin: 0 auto;
}

@media (max-width: 768px) {
  .container {
    padding-left: var(--container-space-mobile);
    padding-right: var(--container-space-mobile);
  }
}
