@import url('./styles/variables.css');
@import url('./styles/container.css');
@import url('./styles/typography.css');

html,
body {
  height: 100%;
  margin: 0;
}

#root,
#root > div {
  height: 100%;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}
