.log {
  width: 100%;
  max-width: 1024px;
  margin: var(--space-m) auto 0;
  padding: 0 var(--space-container-desktop);
}

.log__pre {
  margin: 0;
  font-size: var(--typo-size-xxs);
  line-height: 2;
  font-family: Hack, monospace;
  background: var(--color-bg-log);
  padding: var(--space-xs) var(--space-m);
  border-radius: var(--border-radius-l);
  overflow-x: scroll;
  overflow-y: hidden;
}

@media (max-width: 768px) {
  .log {
    padding: 0;
    margin-top: var(--space-l);
  }
  .log__pre {
    padding: var(--space-xxxs) var(--space-m);
    border-radius: initial;
  }
}
