.typography {
  font-family: 'YS Text', Arial, Helvetica, sans-serif;
  color: var(--color-text);
}

.typography__elem:not(:first-child) {
  margin: 0;
  margin-top: var(--space-xs);
}

.typography__body1 {
  margin: 0;
  font-size: var(--typo-size-s);
  line-height: 1.25;
}

.typography__headline1 {
  margin: 0;
  font-weight: 500;
  font-size: var(--typo-size-xxl);
  line-height: 1.17;
  letter-spacing: 0.25px;
  color: var(--blue-grey-500);
}

.typography__headline2 {
  margin: 0;
  font-weight: 500;
  font-size: var(--typo-size-xxl);
  line-height: 1.25;
  letter-spacing: 0.25px;
}

.typography__headline4 {
  margin: 0;
  font-size: var(--typo-size-m);
  line-height: 1.34;
  font-weight: 600;
}

.typography__subtitle2 {
  margin: 0;
  font-size: var(--typo-size-s);
  line-height: 1.3847;
  color: var(--blue-grey-500);
}

@media (max-width: 480px) {
  .typography__headline1 {
    font-size: var(--typo-size-xl);
    line-height: 1.23;
  }
  .typography__headline2 {
    font-size: var(--typo-size-xl);
    line-height: 1.23;
  }
}

@font-face {
  font-family: 'YS Text';
  src: url('//yastatic.net/islands/_/PyVcRbwHetz0gOVWLonWH7Od8zM.woff2') format('woff2'),
    url('//yastatic.net/islands/_/bIx8jOfCEfR-mECoDUEZywDBuHA.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'YS Text';
  src: url('//yastatic.net/islands/_/7_GKBdKFbUPzKlghJRv55xgz0FQ.woff2') format('woff2'),
    url('//yastatic.net/islands/_/SmqPmIMEXrW4lOY8QrhTUVDbrro.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'YS Text';
  src: url('//yastatic.net/islands/_/6Roy0LCd05cK4nNCipgzheYcNVU.woff2') format('woff2'),
    url('//yastatic.net/islands/_/KtHQR1erf3spayoIM4M4ngg0e2E.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
