.container {
  max-width: 1024px;
  padding-left: var(--container-space-desktop);
  padding-right: var(--container-space-desktop);
  margin: 0 auto;
}

@media (max-width: 480px) {
  .container {
    padding-left: var(--container-space-mobile);
    padding-right: var(--container-space-mobile);
  }
}

.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
