.footer {
  margin-top: auto;
  background-color: var(--color-bg-footer);
}

.footer__container {
  display: flex;
  justify-content: space-between;

  padding-top: var(--space-footer-v);
  padding-bottom: var(--space-footer-v);
  color: var(--color-text-footer);
  font-size: var(--typo-size-s);
  line-height: 1.25;
}

.footer__nav {
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  flex: 1;
}

.footer__nav-item {
  margin-right: var(--space-m);
}

.footer__link {
  color: var(--color-text-footer);
}

@media (max-width: 768px) {
  .footer__container {
    flex-direction: column;
    line-height: 1.3847;
  }
  .footer__copy {
    margin-top: var(--space-xs);
  }
}
