.header {
  background-color: var(--color-bg-base);
}

.header__container {
  padding-top: var(--space-s);
  padding-bottom: var(--space-s);
  display: flex;
  justify-content: space-between;
}

.header__heading {
  align-self: center;
  flex: 1;
}

.header__control-group {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
}

.header__control {
  margin-left: var(--space-xs);
}

@media (max-width: 480px) {
  .header__container {
    padding-top: var(--space-m);
    padding-bottom: var(--space-m);
  }
}
