.heading-ci-run {
  display: flex;
  flex-flow: row nowrap;
  line-height: 20px;
}

.heading-ci-run__number {
  font-size: 18px;
  margin-right: var(--space-xxxs);
}

.heading-ci-run__message {
  font-size: 15px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.heading-ci-run_status_success .heading-ci-run__number {
  color: var(--color-text-success);
}
.heading-ci-run_status_fail .heading-ci-run__number {
  color: var(--color-text-fail);
}
.heading-ci-run_status_running .heading-ci-run__number {
  color: var(--color-text-running);
}

@media (max-width: 480px) {
  .heading-ci-run {
    flex-direction: column;
  }
  .heading-ci-run__number {
    font-size: 16px;
    line-height: 16px;
    margin-bottom: var(--space-xs);
  }
  .heading-ci-run__message {
    white-space: normal;
  }
}
