.history {
  width: 100%;
  margin-top: var(--space-xs);
  margin-bottom: var(--space-xxl);
  display: flex;
  flex-direction: column;
}

.history__card {
  margin-bottom: var(--space-xs);
}

.history__pagination {
  align-self: flex-start;
}

@media (max-width: 480px) {
  .history {
    margin-bottom: var(--space-l);
  }
  .history__pagination {
    align-self: stretch;
  }
}
