.settings {
  max-width: 474px;
  width: 100%;
}

.settings__elem:not(:first-child) {
  margin-top: var(--space-xxl);
}

@media (max-width: 480px) {
  .settings__elem:not(:first-child) {
    margin-top: 14px;
  }
}
