.header {
  background-color: var(--color-bg-base);
}

.header__container {
  padding-top: var(--space-header-v);
  padding-bottom: var(--space-header-v);
  display: flex;
  justify-content: space-between;
}

.header__heading {
  align-self: center;
  flex: 1;
  margin: 0;
  min-height: 28px;
  display: flex;
  align-items: center;
}

.header__control-group {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
}

.header__control {
  margin-left: var(--space-xs);
}
