.card-ci-run__meta {
  display: flex;
  flex-flow: column;
  opacity: 0.65;
  max-width: 30%;
}

.card-ci-run__meta-elem:not(:first-child) {
  margin-top: var(--space-m);
}

@media (max-width: 768px) {
  .card-ci-run__meta {
    min-width: 100%;
    flex-flow: row wrap;
    border-top: 1px solid var(--blue-grey-50);
    margin-top: var(--space-xs);
  }
  .card-ci-run__meta-elem:not(:first-child) {
    margin-top: var(--space-xs);
  }

  .card-ci-run__meta-elem {
    margin-top: var(--space-xs);
    margin-right: var(--space-xs);
  }
}

.card-ci-run_details .card-ci-run__meta {
  min-width: 100%;
  flex-flow: row wrap;
  border-top: 1px solid var(--blue-grey-50);
  margin-top: var(--space-xs);
}
.card-ci-run_details .card-ci-run__meta-elem {
  margin-top: var(--space-xs);
  margin-right: var(--space-xs);
}
