.icon-text {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.icon-text__icon {
  opacity: 0.3;
}

.icon-text__text {
  margin-left: var(--space-xxxs);
  font-size: var(--typo-size-s);
  line-height: 1.25;
  word-break: break-all;
}

.icon-text__secondary-text {
  color: var(--color-text-secondary);
  word-break: normal;
}
