.icon-text {
  display: flex;
  flex-flow: row nowrap;
}

.icon-text__icon {
  opacity: 0.3;
}
.icon-text__text {
  margin-left: var(--space-xxxs);
  font-size: var(--typo-size-m);
  line-height: 16px;
}
.icon-text__secondary-text {
  color: var(--color-text-secondary);
}
