.typography {
  font-family: 'YS Text', Arial, Helvetica, sans-serif;
  color: var(--color-text);
}

.typography__elem:not(:first-child) {
  margin-top: var(--space-xs);
}

.typography__body1 {
  font-size: 13px;
  line-height: 125%;
}

.typography__headline1 {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.25px;
  color: var(--blue-grey-500);
}

.typography__headline2 {
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.25px;
}

.typography__headline4 {
  font-size: 15px;
  line-height: 20px;
  font-weight: bold;
}

.typography__subtitle2 {
  font-size: 13px;
  line-height: 18px;
  color: var(--blue-grey-500);
}

@media (max-width: 480px) {
  .typography__headline1 {
    font-size: 18px;
    line-height: 22px;
  }
  .typography__headline2 {
    font-size: 18px;
    line-height: 22px;
  }
}

@font-face {
  font-family: 'YS Text';
  src: url('//yastatic.net/islands/_/PyVcRbwHetz0gOVWLonWH7Od8zM.woff2') format('woff2'),
    url('//yastatic.net/islands/_/bIx8jOfCEfR-mECoDUEZywDBuHA.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'YS Text';
  src: url('//yastatic.net/islands/_/7_GKBdKFbUPzKlghJRv55xgz0FQ.woff2') format('woff2'),
    url('//yastatic.net/islands/_/SmqPmIMEXrW4lOY8QrhTUVDbrro.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'YS Text';
  src: url('//yastatic.net/islands/_/6Roy0LCd05cK4nNCipgzheYcNVU.woff2') format('woff2'),
    url('//yastatic.net/islands/_/KtHQR1erf3spayoIM4M4ngg0e2E.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
