.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.3);
  z-index: 99;
}

.loader_static {
  position: static;
  width: 100%;
  margin: var(--space-xxxl) 0;
}

.loader_animate {
  animation: fadeIn 1.5s;
}

.loader_fullpage {
  margin: 48px 0 32px;
  height: calc(100% - 48px - 32px) !important;
}
@media (max-width: 768px) {
  .loader_fullpage {
    margin: 48px 0 60px;
    height: calc(100% - 48px - 60px) !important;
  }
}
@media (max-width: 480px) {
  .loader_fullpage {
    margin: 68px 0 68px;
    height: calc(100% - 68px - 68px) !important;
  }
}
.loader_fullpage .cat {
  transform: rotateX(180deg);
}

.cat {
  position: relative;
  width: 100%;
  max-width: 300px;
  overflow: hidden;
  border-radius: 50%;
  background-color: var(--color-bg-base);
}
.cat::before {
  content: '';
  display: block;
  padding-bottom: 100%;
}

.cat:active > * {
  animation-play-state: running;
}
.cat__head,
.cat__tail,
.cat__body {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  animation: rotating 2.79s cubic-bezier(0.65, 0.54, 0.12, 0.93) infinite;
}
.cat__head::before,
.cat__tail::before,
.cat__body::before {
  content: '';
  position: absolute;
  width: 50%;
  height: 50%;
  background-size: 200%;
  background-repeat: no-repeat;
  background-image: url('../../../images/cat_loader.jpg');
}
.cat__head::before {
  top: 0;
  right: 0;
  background-position: 100% 0%;
  transform-origin: 0% 100%;
  transform: rotate(90deg);
}
.cat__tail {
  animation-delay: 0.2s;
}
.cat__tail::before {
  left: 0;
  bottom: 0;
  background-position: 0% 100%;
  transform-origin: 100% 0%;
  transform: rotate(-30deg);
}
.cat__body {
  animation-delay: 0.1s;
}
.cat__body:nth-of-type(2) {
  animation-delay: 0.2s;
}
.cat__body::before {
  right: 0;
  bottom: 0;
  background-position: 100% 100%;
  transform-origin: 0% 0%;
}
@keyframes rotating {
  from {
    transform: rotate(720deg);
  }
  to {
    transform: none;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
